extends container
block content
    div
        h4 Hi #{normalizedAdmin.name}!
                div
                    div
                        p Super admin created you an account
                    div
                        p To confirm this request please go to the following web address
                    div
                        a(href=createAdminUrl) Link to click
