extends container
block content
    div
        h4 Hi #{user.name}!
        div
            div
                p A password reset was requested for your account
            div
                p To confirm this request please go to the following web address
            div
                a(href=forgotPasswordUrl) Link to click
