<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Page</title>
</head>
<body>

<h1> Hello!</h1>

<h5>Registration form</h5>
<form action="/registration" method="post">

    <input type="email" name="email"> please enter your email
    <br/>
    <input type="text" name="password"> please enter your password
    <br/>
    <input type="submit" value="Register">
</form>
