<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{{#each users}}

    <h2>Name: {{this.email}}</h2>
    <h2>Password: {{this.password}}</h2>

        <a href="/users/{{this.user_id}}">show more info</a>
    <hr>

{{/each}}

</body>
</html>
